*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}
h1{
    text-align: center;
}
section{
    display: flex;
    padding:10px;
}
#content{
    width: 100%;
    margin:10px;    
}
#publi{
    width: 400px;
    height: 1350px;
    padding: 10px;
}
h2{
    text-align: center;
}
.video_responsivo{
    position:relative;
    padding-bottom: 56.25%;/*16:9*/
    width: 80%;
}
iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
address{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    height: 120px;
    border-bottom: 1px solid gainsboro;
}
#menu{
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
}
.logo{
    margin-right: 10px;
}
#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#menu a{
    padding: 20px;
    text-decoration: solid;
    color: black;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
#menu a:hover{
    color: green;
}
#menu-session ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#menu-session li{
    padding: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
i{
    margin: 10px;
    font-size: 30px;
}
.gps a{
    text-decoration: solid;
    color: black;
}
.gps a:hover{
    color: green;
}
.session a{
    text-decoration: solid;
    color: black;
}
.session:hover{
    border: 1px solid green;
}
.session a:hover{
    color: green;
}
.register a{
    text-decoration: solid;
    color: white;
}
.register:hover{
    background-color: gray;
}
.session{
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 60px;
}
.register{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-left: 60px;
}
#second-menu{
    padding: 15px;
    background-color: white;
}
#second-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#second-menu ul li{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding: 20px 144px;
    background-color: white;
}
.right-men{
    display: flex;
}