*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    height: 120px;
    border-bottom: 1px solid gainsboro;
}
#menu{
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
}
.logo{
    margin-right: 10px;
}
#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#menu a{
    padding: 20px;
    text-decoration: solid;
    color: black;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
#menu a:hover{
    color: green;
}
#menu-session ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#menu-session li{
    padding: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
i{
    margin: 10px;
    font-size: 30px;
}
.gps a{
    text-decoration: solid;
    color: black;
}
.gps a:hover{
    color: green;
}
.session a{
    text-decoration: solid;
    color: black;
}
.session:hover{
    border: 1px solid green;
}
.session a:hover{
    color: green;
}
.register a{
    text-decoration: solid;
    color: white;
}
.register:hover{
    background-color: gray;
}
.session{
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 60px;
}
.register{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-left: 60px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
}
#first-box{
    display: flex;
    justify-content: center;
    width: 70%;
}
#first-text{
    flex-basis: 50%;
    background-color: rgba(238,204,245,1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 23px;
    flex-wrap: wrap;
}
#first-img, #second-img{
    flex-basis: 50%;
}
.title{
    color: rgba(0,98,65,1);
    text-align: center;
    font-weight: 400px;
    font-size: 48px;
    line-height: 56px;
}
.subtitle{
    color: rgba(0,98,65,1);
    text-align: center;
    font-weight: 400px;
    font-size: 23px;
}
.boton{
    background-color: rgba(0,98,65,1);
    padding: 16px;
    border-radius: 500px;
}
.boton a{
    color: white;
    text-decoration: none;
}
#second-box{
    display: flex;
    justify-content: center;
    width: 70%;
}
#second-text{
    background-color: rgba(215,218,88,1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 23px;
    flex-wrap: wrap;
    flex-basis: 50%;
}
#second-menu{
    padding: 15px;
}
#second-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#second-menu ul li{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding: 20px 144px;
}
.right-men{
    display: flex;
}